
#form  label {width:228px;position:relative;}
#form1 label {width:228px;position:relative;}
#form2 label {width:228px;position:relative;}
#form3 label {width:228px;position:relative;}
#form4 label {width:228px;position:relative;}
#form5 label {width:228px;position:relative;}
#form6 label {width:228px;position:relative;}
#form7 label {width:228px;position:relative;}
#form8 label {width:228px;position:relative;}
#form10 label {width:228px;position:relative;}
#form11 label {width:228px;position:relative;}
#form12 label {width:228px;position:relative;}
#form13 label {width:228px;position:relative;}

#form .error-empty,
#form1 .error-empty,
#form2 .error-empty,
#form3 .error-empty,
#form4 .error-empty,
#form5 .error-empty,
#form6 .error-empty,
#form7 .error-empty,
#form8 .error-empty,
#form9 .error-empty,
#form .error-empty2,
#form1 .error-empty2,
#form2 .error-empty2,
#form3 .error-empty2,
#form4 .error-empty2,
#form5 .error-empty2,
#form6 .error-empty2,
#form7 .error-empty2,
#form8 .error-empty2,
#form9 .error-empty2,
#form .error-empty3,
#form1 .error-empty3,
#form2 .error-empty3,
#form3 .error-empty3,
#form4 .error-empty3,
#form5 .error-empty3,
#form6 .error-empty3,
#form7 .error-empty3,
#form8 .error-empty3,
#form9 .error-empty3 {
    color: #FF0000;
    display: none;
    font-size: 22px;
    line-height: 22px;
    width: auto;
    position: absolute;
    z-index: 999;
    right: 15px;
    top: 9px;
    float: left;
}

#form10 .error-empty,
#form11 .error-empty,
#form12 .error-empty,
#form13 .error-empty,
#form10 .error-empty2,
#form11 .error-empty2,
#form12 .error-empty2,
#form13 .error-empty2,
#form10 .error-empty3,
#form11 .error-empty3,
#form12 .error-empty3,
#form13 .error-empty3{
    display: none;
    color: #FF0000;
	display: none;
	font-size: 22px;
	line-height: 22px;
	width:auto;
	position: absolute;
	z-index: 999;
	right: 15px;
	top: 9px;
	float:left;
}

.success_wrapper .success,
.success_wrapper .success1,
.success_wrapper .success2,
.success_wrapper .success3,
.success_wrapper .success4,
.success_wrapper .success5,
.success_wrapper .success6,
.success_wrapper .success7,
.success_wrapper .success8,
.success_wrapper .success9,
.success_wrapper .success10,
.success_wrapper .success11,
.success_wrapper .success12,
.success_wrapper .success13{
    position: absolute;
    background: #fff;
    color: #fff;
    z-index: 50;
    color: #000;
    padding: 15px;
    font-size: 16px;
    left: 50%;
    margin: 0 0 0 -170px;
    display: none;
}

#form1 .success_wrapper .success {
    margin: 0 0 0 0;
}
